.l-app {
  width: 560px;
  max-width: 100%;
  min-width: 100px;
  height: 315px;
  margin: 0 auto;
  position: relative;
}

.c-app {
  &__btn {
    margin-top: 16px;

    background-color: var(--p);
    color: #000000;
    font-weight: 500;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
  }
}
