:root {
  --bg: #121212;
  // --bg-01: #1d1d1d;
  // --bg-02: #212121;
  // --bg-03: #242424;
  // --bg-04: #272727;
  // --bg-05: #2c2c2c;
  // --bg-06: #2d2d2d;
  // --bg-07: #323232;
  // --bg-08: #353535;
  // --bg-09: #373737;

  --p: #f6d78d;
  // --p100: #fae6b8;

  --hight: rgba(255, 255, 255, 0.87);
  --medium: rgba(255, 255, 255, 0.6);
  --disabled: rgba(255, 255, 255, 0.38);

  background-color: var(--bg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--hight);
}
